{
    "siteTitle": "MOOP",
    "admin_email": "admin@example.com",
    "sequence_types": {
        "protein": {
            "pattern": "protein.aa.fa",
            "label": "Protein",
            "color": "bg-info"
        },
        "transcript": {
            "pattern": "transcript.nt.fa",
            "label": "mRNA",
            "color": "bg-feature-mrna"
        },
        "cds": {
            "pattern": "cds.nt.fa",
            "label": "CDS",
            "color": "bg-success"
        },
        "genome": {
            "pattern": "genome.fa",
            "label": "Genome",
            "color": "#26d984"
        }
    },
    "header_img": "header_img.png",
    "favicon_filename": "favicon.ico",
    "auto_login_ip_ranges": [],
    "sample_feature_ids": [],
    "blast_sample_sequences": {
        "protein": "",
        "nucleotide": ""
    }
}
